@font-face {
font-family: Delicious;
src: url('fonts/Delicious-Roman.otf') format("opentype");
}

@font-face {
font-family: Delicious;
src: url('fonts/Delicious-Bold.otf') format("opentype");
font-weight: bold;
}

@font-face {
font-family: Delicious;
src: url('fonts/Delicious-Italic.otf') format("opentype");
font-style: italic;
}

@font-face {
font-family: Delicious;
src: url('fonts/Delicious-BoldItalic.otf') format("opentype");
font-style: italic;
font-weight: bold;
}

@media screen
{
/* -------------- general elements --------------- */

* { padding: 0; margin: 0; }

body {
  font: Delicious, Lucida, Helvetica, Arial, sans-serif;
  background: url(images/cpgs-logo.jpg) no-repeat 90% 99%;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
}

#content {
     margin: auto auto;
     text-align: justify;
     color: #2e2e2e;
     font-family:  Delicious, Lucida, Helvetica, Arial, sans-serif;
     font-size: 13pt;
}

p {	margin-bottom: .5em;
	line-height: 140%;
  }

ul  {
	margin-left: 2em;
    }

#menu {
    font-size: 13pt;
}


    #postamble {
	text-align: left;
	margin-top: 50px;
    }


    #postamble p {
	font-family: Delicious, Lucida, Helvetica, Arial, sans-serif;
	font-size: 0.75em;
	margin: 0px;
    }

    #attention {
	border: 1px solid grey;
	background-color: #ffff33;
	color: #CC0000;
	font-size: 15pt;
	margin-top: 10px;
	margin-right: 20%;
	margin-left: 20%;
	text-align: center;
	padding: 10px;
    }

    #twitter {
	float: right;
	width: 45%;
	padding-left: 25px;
	padding-top: 15px;
    }


    h1 {
	/* font-size: 12pt; */
	color: #000099;
	font-family: Delicious, Lucida, Helvetica, Arial, sans-serif;
	font-size:20pt;
    }

    .title {
	color: #000099;
	padding-bottom: 7px;
	font-family: Delicious, Lucida, Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	text-align: right;
	text-shadow: 4px 4px 4px #aaa;
    }

    h2 {
	color: #000099;
	font-size: 18pt;
	padding-bottom: 4px;
	margin-top: .5em;
	padding-left: 1em;
	background-image: url(images/cpgs-logo-mini.jpg);
	background-repeat: no-repeat;
	background-position: left;
	border-bottom: 3px solid #DDD;
	font-family: Delicious, Lucida, Helvetica, Arial, sans-serif;
    }

    h3 {
	color: #CC0000;
	font-size: 16pt;
	font-family: Delicious, Lucida, Helvetica, Arial, sans-serif;
    }

    h4 {
	color: #FFCC33;
	font-size: 12pt;
	font-family: Delicious, Lucida, Helvetica, Arial, sans-serif;
    }

    a {
	text-decoration: none;
	color: #000099;
    }

    a:visited {
	text-decoration: none;
	color: #CC0000;
    }

    a:hover {
	text-decoration: underline;
	color: #000000;
    }

    li {
	margin: .4em;
    }

    table {
	border: none;
    }

    td {
	border: none;
	padding: .1em .7em .1em .3em;
    }

    th {
	border: none;
    }

    code {
	font-size: 100%;
    }

    img {
	border: none;
    }


    /* pre {border: 1px solid #555; */
    /*      background: #EEE; */
    /*      font-size: 9pt; */
    /*      padding: 1em; */
    /*     } */

    /* pre { */
    /*     color: #e5e5e5; */
    /*     background-color: #000000; */
    /*     padding: 1.4em; */
    /*     border: 2px solid grey; */
    /* } */

    pre {
	color: black;
	background-color: #efefef;
	padding: 1.2em;
	border: 1px solid #dddddd;
    }

    .outline-text-1, .outline-text-2, .outline-text-3, .outline-text-4, .outline-text-5, .outline-text-6 {
	/* Add more spacing between section. Padding, so that folding with org-info.js works as expected. */
	padding-bottom:2em;
    }


} /* END OF @media all */


@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
    body {
	font: Delicious, Lucida, Helvetica, Arial, sans-serif;
	margin: auto auto;
	background: white;
	width: 80%;
    }
    
    #content {
	float: none;
	width: 100%;
	text-align: left;
    }
    div#table-of-contents {
	display: none;
    }

    h1.title {
	font-size: 15pt;
	font: Delicious, sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: left;
   }

    h2 {
	font-size: 14pt;
    }
	
    h3 {
	font-size: 13pt;
    }
    
}

/* Printing */

@page
{
	margin-top:1.5cm;
    margin-bottom:1.5cm;
}

@page :left
{
  margin-left:1.5cm;
  margin-right:2cm;
}

@page :right
{
  margin-left:2cm;
  margin-right:1.5cm;
}


@media print {
   
   div#menu,
   div#table-of-contents,
   div#postamble { display: none; }

      h1.title {
       font-size: 14pt;
       font: Delicious, sans-serif;
       margin-bottom: 20px;
       text-align: left;
   }

   h2 {
       font-size: 13pt;
       padding-bottom: 4px;
       margin-top: .5em;
       border-bottom: 3px solid #DDD;
       font: Delicious, Lucida, Helvetica, Arial, sans-serif;
    }

    h3 {
	font-size: 12pt;
	font: Delicious, Lucida, Helvetica, Arial, sans-serif;
    }

    h4 {
	font-size: 12pt;
	font: Delicious, Lucida, Helvetica, Arial, sans-serif;
    }

    #content {
	margin: auto auto;
	text-align: justify;
	font-family: serif;
	font-size: 11pt;
	font: Delicious, Lucida, Helvetica, Arial, sans-serif;
    }

    p {	margin-bottom: .5em;
	line-height: 140%;
      }


 }